@font-face {
  font-family: "glittenRegular";
  src: url("../fonts/Glitten-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-logo {
  font-family: "glittenRegular", serif;
}

.text-color-logo {
  color: #890022;
}
